Source: evoadmin-mail
Section: utils
Priority: optional
Maintainer: Victor Laborie <vlaborie@evolix.fr>
Build-Depends: debhelper-compat (= 13), dh-exec
Standards-Version: 4.0.0
Rules-Requires-Root: no

Package: evoadmin-mail
Architecture: all
Depends: php | php5, php-cli | php5-cli , php-twig, php-ldap | php5-ldap, apg, ldapvi, ${misc:Depends}
Description: PHP app for manage LDAP mail accounts
 evoadmin-mail is a Web Interface for manage an LDAP directory
 designed for mail accounts.
