Source: evoadmin-mail
Section: utils
Priority: optional
Maintainer: David Prévot <dprevot@evolix.fr>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://gitea.evolix.org/evolix/evoadmin-mail/

Package: evoadmin-mail
Architecture: all
Depends: apg,
         ldapvi,
         php | php5,
         php-cli | php5-cli,
         php-ldap | php5-ldap,
         php-twig,
         ${misc:Depends}
Description: PHP app for manage LDAP mail accounts
 evoadmin-mail is a Web Interface for manage an LDAP directory
 designed for mail accounts.
