<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule   "^([^/]+)/(.+)$"  "$2"   [PT]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "public, max-age=30672000"
    </IfModule>
</IfModule>
